@model Sehin_versión2._0.Models.Clientes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Clientes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RazonSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RazonSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUIT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUIT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IngBrutos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IngBrutos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CondicionIva.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CondicionIva.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Localidades.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localidades.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
