@model Sehin_versión2._0.Models.Riesgos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Riesgos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Factor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Factor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CondicionTrabajo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CondicionTrabajo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoRiesgos.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoRiesgos.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
